{% extends "index/index_base.html" %}
{% load static %}

{% block index %}
<div class="center col-lg p-0" style="overflow-x: hidden; height: 600px;">
    <div>
        <a href="#" style="text-decoration: none; color: white;">
            <div class="slide-1" style="background-image: url('{% static 'img/learn.jpg' %}'); background-size: cover;">
                <div class="thumbnail container">
                    <div class="row h-100">
                        <div class="col-lg mt-auto">
                            <h2 class="black-text white-background" style="text-align: center;">Учись новому</h2>
                            <p class="black-text white-background" style="text-align: center;">Открывай для себя что-то новое с Профориентацией</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="#" style="text-decoration: none; color: white;">
            <div class="slide-1" style="background-image: url('{% static 'img/make-money.jpg' %}'); background-size: cover;">
                <div class="thumbnail container">
                    <div class="row h-100">
                        <div class="col-lg mt-auto">
                            <h2 class="black-text white-background" style="text-align: center;">Создавай свои услуги</h2>
                            <p class="black-text white-background" style="text-align: center;">Предлагай свои услуги и делись ими со всеми</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="#" style="text-decoration: none; color: white;">
            <div class="slide-1" style="background-image: url('{% static 'img/make-task.jpg' %}'); background-size: cover;">
                <div class="thumbnail container">
                    <div class="row h-100">
                        <div class="col-lg mt-auto">
                            <h2 class="black-text white-background" style="text-align: center;">Зарабатывай с Профориентацией</h2>
                            <p class="black-text white-background" style="text-align: center;">Получай прибыль за свои услуги</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>


<div class="jumbotron">
    <h1 class="display-4">Помогаем найти дело своей мечты</h1>
    <p class="lead">Мы хотим проломить преграды перед профессии твоей мечты </p>
    <hr class="my-4">
    <p>Начни пользоваться сервисом уже сейчас</p>
    <div class="nav-item dropdown">
        <a class="btn btn-primary btn-lg orange dropdown-toggle" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Зарегистрироваться</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="{% url 'studentSignUp' %}">Я студент</a>
            <a class="dropdown-item" href="{% url 'specialistSignUp' %}">Я специалист</a>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 mx-auto" style="text-align: center;">
            <a href="/services/" ><img class="rounded-circle mb-4" src="{% static 'img/spec.jpg' %}" alt="Тут была иконка!" width="140" height="140"></a>
            <h3>Услуги специалистов</h3>
            <p>Мы предлагаем воспользоваться услугами, которые были разработаны специально для тебя, нашими специалистами</p>
        </div>
        <!--
        <div class="col-lg-4" style="text-align: center;">
            <img class="rounded-circle mb-4" src="{% static 'img/catalog-edu.jpg' %}" alt="Тут была иконка!" width="140" height="140">
            <h3>Каталог образовательных курсов</h3>
            <p>Здесь, мы собрали для тебя информацию об образовательных программах и курсах. Они помогут развить те умения и навыки, которых тебе не хватает для будущей профессии.</p>
        </div>
        <div class="col-lg-4" style="text-align: center;">
            <img class="rounded-circle mb-4" src="{% static 'img/professions.jpg' %}" alt="Тут была иконка!" width="140" height="140">
            <h3>Профессии</h3>
            <p>В этом разделе собран общирный каталог профессий. В нём ты сможешь узнать всё про профессию твоей мечты.</p>
        </div>
        -->
    </div>
</div>

<script src="{% static 'js/bootstrap/jquery-2.2.0.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).on('ready', function() {
      $(".center").slick({
        slidesToShow: 1,
        // autoplay: true,
        // autoplaySpeed: 2000,
      });
    });
</script>

{% endblock %}
