{% extends "specialist/specialist_profile_base.html" %}
{% load static %}

{% block profile_content %}
<br>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 mb-5">
            {% if usr.avatar %}
                <div class="col-6 mx-auto"><img class="rounded-circle mb-4" src="{{ usr.avatar.url }}" alt="Generic placeholder image" width="140" height="140"></div>
            {% else %}
                <div class="col-6 mx-auto"><img class="rounded-circle mb-4" src="{% static 'img/ivan.jpg' %}" alt="Generic placeholder image" width="140" height="140"></div>
            {% endif %}            <h4 class="mb-4" style="text-align: center;">{{ usr.second_name }} {{ usr.first_name }} {{ usr.third_name }}</h4>
            <p class="mb-4" style="text-align: center;">Образование: <a href="#">{{ usr.education }}</a></p>
            <p style="text-align: center;">Опыт работы: <a href="#">{{ usr.workExpirience }}</a></p>
        
            {% if is_me %}

                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="{% url 'specialistSettings' %}">
                        Настройки
                    </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'createService' %}">
                        Создать услугу
                    </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'myCreatedServices' %}">
                        Мои созданные услуги
                    </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'myBoughtServices' %}">
                        Мои купленные услуги
                    </a>
                </div>

            {% endif %}

        </div>
        <div class="col-lg-7">
            <h1 class="mb-3">Обо мне</h1>
            <p>{{ usr.about_me }}</p>
        </div>
    </div>
    
</div>
{% endblock %}
