{% load static %}

<!doctype>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>AskIvan</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/custom/prof.css' %}" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark blue">
            <a class="navbar-brand" href="/">Профориентация</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Тесты <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Каталог</a>
                    </li>     
                </ul>

                {% comment %} <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Поиск">
                </form> {% endcomment %}

                {% if user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle white-text" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ specialist.first_name }} {{ specialist.second_name }} {{ student.first_name }} {{ student.second_name }}</a>
                        
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="#">Профиль</a>
                            <a class="dropdown-item" href="#">Настройки</a>
                            <a class="dropdown-item" href="/signout">Выйти</a>
                        </div>
                    </div>
                {% else %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-primary btn-md orange white-text mr-3" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Зарегистрироваться</a>
                            
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="/student_signup/">Я студент</a>
                            <a class="dropdown-item" href="/specialist_signup/">Я специалист</a>
                        </div>
   
                    </div>
                    <a class="nav-link btn btn-primary btn-md green" href="/signin/" role="button">Войти</a>

                    
                {% endif %}
                

            </div>
        </nav>

        {% block content %}{% endblock %}

    </body>


    <footer>
    <!-- простой футер -->
        <nav class="navbar navbar-fixed navbar-dark bg-dark">
            <div class="row" id="navbarsExample08">
                <a class="nav-link white-text" href="#">Профориентация <span class="sr-only">(current)</span></a>
                <a class="nav-link white-text" href="#">О нас</a>
            </div>
        </nav>
    </footer>

    <script src="{% static 'js/bootstrap/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</html>
