<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
</head>

<body>

    <div>
        Личный Кабинет
        <div>
            ФИО: {{fio}}
        </div>
        
        <div>
            Пол: {{sex}}
        </div>
        
        <div>
            Возраст: {{age}}
        </div>

        <div>
            Дата рождения: {{birthday}}
        </div>

        <div>
            Страна: {{country}}
        </div>

        <div>
            Город: {{city}}
        </div>

        <div>
            Учебная организация: {{university}}
        </div>

        <div>
            Класс/курс: {{term}}
        </div>
    </div>

    </div>
        Увлечения:
        {{hobby}}  
    </div>
    
    <div>
        <div>
            Контакты: {{ conact }}
        </div>
        
        <div>
            Почта: {{ email }}
        </div>

        <div>
            Ссылка на личную странницу: {{ link }}
        </div>

        <div>
            VK: {{ vk }}
        </div>

    </div>
     
</body>

</html>