{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto mt-5">
            <h2>Вход</h2>
            <form action="{% url 'signIn' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_email">Email</label>
                    <input type="email" class="form-control" placeholder="Введите Email" name="email" required id="id_email">
                </div>
                <div class="form-group">
                    <label for="id_password">Пароль</label>
                    <input type="password" class="form-control" placeholder="Введите пароль" name="password" required id="id_password">
                </div>

                <button type="submit" class="btn btn-primary green">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
