{% load static %}
<div class="card mt-4 mb-5 service_shadow">
    <h2 class="card-header"><a href="{% url 'servicePage' service.id %}" class="service_links">{{ service.title }}</a></h2>
    <div class="card-body">
        <h3 class="card-title">{{ service.description }}</h3>
        {% if service.avatar %}
            <div class="col-6 mx-auto"><img class="rounded-circle mb-4" src="{{ service.avatar.url }}" alt="Generic placeholder image" width="140" height="140"></div>
        {% else %}
            <div class="col-6 mx-auto"><img class="rounded-circle mb-4" src="{% static 'img/ivan.jpg' %}" alt="Generic placeholder image" width="140" height="140"></div>
        {% endif %}         
        
        <div class="dropdown-divider"></div>

        <div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="p-2 bd-highlight">
                        <a href="{% url 'servicesByCategoryPage' service.category.name %}" class="service_links">
                            <p class="card-text">{{ service.category }}</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="p-2 bd-highlight">
                        <p class="card-text">от: 
                            <a href="{% url 'showSomeProfile' service.author.user.id %}" class="service_links">
                                    {{ service.author.second_name }}
                                    {{ service.author.first_name }}
                                    {{ service.author.third_name }}
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="p-2 bd-highlight">
                        <h3><a class="badge badge-warning">Цена: {{ service.price }} ₽</a></h3>
                        <a href="{% url 'buyService' service.id %}" class="btn btn-primary orange">Купить</a>
                    </div>
                </div>
            </div>
        </div>
     </div>  
</div>
